{% extends "base.html" %}

{% block content %}
  <div style="text-align:center; color: white; padding: 3rem;">
    <h1>Welcome to CostScope 💸</h1>
    <p>Track your expenses, compare cities, and plan your lifestyle.</p>

    {% if current_user.is_authenticated %}
      <a href="{{ url_for('main.upload') }}" class="btn">Go to Expense Entry</a>
      <a href="{{ url_for('main.visualise') }}" class="btn">View Stats</a> 
      <a href="{{ url_for('main.share_data') }}" class="btn">Share Data</a>
      <a href="{{ url_for('main.shared_with_me') }}" class="btn">View Shared With Me</a>
      <a href="{{ url_for('main.logout') }}" class="btn">Logout</a>
    {% else %}
      <a href="{{ url_for('main.login') }}" class="btn">Login</a>
      <a href="{{ url_for('main.register') }}" class="btn">Create Account</a>
    {% endif %}
  </div>
{% endblock %}
